.profile__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 430px) {
  .profile__container {
    max-width: 282px;
  }
}
