.popup__input {
  min-height: 27px;
  box-sizing: border-box;

  margin: 30px 0 0;
  padding: 0;

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: transparent;

  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  color: #000000;
}

.popup__input:first-child {
  margin: 0;
}

.popup__input:focus {
  border: 1px solid skyblue;
}
