.popup__container {
  position: relative;

  max-width: 430px;
  margin: 0;
  padding: 34px 36px 37px;

  box-sizing: border-box;

  background-color: #FFF;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
