.header {
  max-width: 880px;
  min-height: 0px;

  margin: 0 auto;
  padding: 45px 0px 41px;



  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 934px) {
  .header {
    padding: 45px 27px 41px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 28px 27px 32px;
  }
}
