.popup__name {
  min-height: 26px;
  box-sizing: content-box;

  margin: 0;
  padding: 0;


  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: transparent;

  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  color: #000000;
}

.popup__name:focus {
  border: 1px solid skyblue;
}
