.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;

  max-width: 282px;
  max-height: 361px;

  margin: 0;
  padding: 0;

  border-radius: 10px;

  overflow: hidden;
  list-style-type: none;

  background-color: #fff;
}
