.grid-places__btn-like {
  display: block;

  width: 22px;
  height: 19px;
  background: url(../../../images/__like.svg) 0 0 no-repeat;
  background-position: center;


  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;

  cursor: pointer;
}
