.profile__btn-add {
  width: 150px;
  height: 50px;

  background: url(../../../images/profile__btn-add.svg) 0 0 no-repeat;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;


  margin: 0;
  padding: 0;
  outline: none;
  background-color: #000;

  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .profile__btn-add {
    margin: 33px 0 0;
    width: 100%;
    max-width: 336px;
  }
}
