.profile__wrapper {
  display: grid;
  max-width: 336px;
  grid-template-columns: 294px 1fr;
  grid-template-areas:
    "name edit"
    "mission mission";
  row-gap: 7px;
  column-gap: 18px;

  margin: 0 0 0 30px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .profile__wrapper {
    margin: 26px 0 0;
  }
}

@media screen and (max-width: 430px) {
  .profile__wrapper {
    grid-template-columns: 1fr 18px 189px 1fr 1fr;
    grid-template-areas:
      ". . name edit ."
      "mission mission mission mission mission";
    column-gap: 10px;

    margin: 30px 0 0;
  }
}
