.profile__mission {
  max-width: 336px;

  margin: 0;
  padding: 0;

  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  color: #FFFFFF;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  grid-area: mission;
}

@media screen and (max-width: 430px) {
  .profile__mission {
    max-width: 282px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}
