.profile__btn-edit {
  width: 24px;
  height: 24px;

  background: url(../../../images/profile__btn-edit.svg) no-repeat;
  background-size: 10px 10px;
  background-position: center;

  margin: 15px 0 0;
  padding: 0;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;

  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .profile__btn-edit {
    position: absolute;
    right: -28px;
    top: 6px;

    width: 18px;
    height: 18px;

    background-size: 7.5px 7.5px;

    margin: 0;
  }
}
