.header {
  max-width: 880px;

  margin: 0 auto;
  padding: 45px 0px 40px;

  border-bottom: 1px solid rgba(84, 84, 84, 0.7);

}

@media screen and (max-width: 934px) {
  .header {
    padding: 45px 19px 40px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 28px 27px 32px;
  }
}
